<p style="font-family: 'Edu NSW ACT Foundation', cursive;">Golden Software</p>

<p style="font-family: 'Edu NSW ACT Foundation', cursive;">Witaj na stronie!</p>

<p style="font-family: 'Edu NSW ACT Foundation', cursive;">
  Przykładowa strona TypeScript
</p>

<style>

  .button {
    border: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    right: 50px;
    border-radius: 30px;
  border: 3.75px solid #dfbd00;
  box-shadow : 0px 0px 10px 0px #000000;
  text-shadow : 0px 0px 3px #000000;

  }
  .button1 {background-color: yellow;} /* Green */
</style>

<button class="button button1" href="#">Discord</button>
